#main-area {
	width: 80%;
	margin: auto;
	margin-top: 50px;
}

#search-area {
	width: 100%;
}

#search-button {
	width: 100%;
}

.field:not(:last-child) {
	margin-bottom: 0px !important;
}

.field:first-child {
	padding-left: 0;
}

#table-area {
	margin-top: 20px;
}

.sort-icon-container {
	height: 1.5rem;
	padding-left: 5px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
}

.sort-icon {
	height: 40%;
}

.sort-icon-up {
	margin-bottom: -0.05em;
}

.sort-icon-down {
	margin-top: -0.05em;
}

th {
	white-space: nowrap;
}

.th-span {
	cursor: pointer;
}
